<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
    <div align="center">
        <h1>
            Check out
        </h1>
        <form method="post" th:action="@{/checkout/pay}">
            <input type="text" value="120" name="price" />
            <button type="submit" >Payment with Paypal</button>
        </form>
<!--        <form th:action="/checkout/pay" method="post">-->
<!--            <table>-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>Product/Service:</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td><input type="text" name="product" value="Next product"> </td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>Subtotal:</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td><input type="text" name="subtotal" value="100"> </td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>Shipping:</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td><input type="text" name="shipping" value="10"> </td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>Tax:</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td><input type="text" name="tax" value="10"> </td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--                <tr>-->
<!--                    <td>Price:</td>-->
<!--                    <td><input type="text" name="price" value="120"> </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td colspan="2" align="center">-->
<!--                        <input type="submit" value="checkout"  />-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </form>-->
    </div>
</body>
</html>