<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flight</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/user/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/user/css/form-search.css}"/>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" defer></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" defer></script>

    <style>
        #booking {
            background-image: url("../user/img/back.png");
        }
    </style>
</head>

<body>
<header>
    <div class="nav-bar">
        <a th:href="@{/home}" class="logo">
            <img class="airline" th:src="@{/user/img/airline.png}" alt=""/>
            TRAVEL</a>
        <div class="navigation">
            <div class="nav-items">
                <i class="uil uil-times nav-close-btn"></i>
                <a th:href="@{/home}"><i class="uil uil-home"></i> Home</a>
                <a th:href="@{/checkout}"><i class="uil uil-compass"></i> Flights</a>
                <a th:href="@{/users/export/pdf}"><i class="uil uil-info-circle"></i> About</a>
                <a th:href="@{/contact}"><i class="uil uil-document-layout-left"></i> Contact</a>
                <a th:href="@{/view}">
                    <img class="logout" th:src="@{/user/img/cart.png}" alt="cart"/>
                </a>
                <span class="authen" sec:authentication="principal.username"></span>
                <a th:href="@{/logout}">
                    <img class="logout" th:src="@{/user/img/out.png}" alt=""/>
                </a>
            </div>
        </div>
    </div>
</header>
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form th:action="@{/home}" th:object="${flightSearch}" method="post">
                        <div class="form-group">
                            <div class="form-checkbox">
                                <label for="roundtrip">
                                    <input type="radio" id="roundtrip" name="flight-type" onclick="text(0)" checked>
                                    <span></span>Roundtrip
                                </label>
                                <label for="one-way">
                                    <input type="radio" id="one-way" name="flight-type" onclick="text(1)">
                                    <span></span>One way
                                </label>
                                <label for="multi-city">
                                    <input type="radio" id="multi-city" name="flight-type" onclick="text(2)">
                                    <span></span>Multi-City
                                </label>
                            </div>
                        </div>
                        <div class="row" id="box">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="from">From</label>
                                    <select required name='from' id="from" class="form-control" th:field="*{from}">
                                        <option value="">Select a location...</option>
                                        <option th:each="airport : ${airports}" th:value="${airport.id}"
                                                th:text="${airport.city} + '(' + ${airport.code} + ')'"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="from">From</label>
                                    <input list="answers" name="answer" id="answerInput">
                                    <datalist id="answers">
                                        <option th:each="airport : ${airports}" th:value="${airport.id}"
                                                th:text="${airport.city} + '(' + ${airport.code} + ')'"></option>
                                    </datalist>
                                    <input type="hidden" name="answer" id="answerInput-hidden">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="to">To</label>
                                    <select required name='to' id="to" class="form-control" th:field="*{to}">
                                        <option value="">Select a location...</option>
                                        <option th:each="airport : ${airports}" th:value="${airport.id}"
                                                th:text="${airport.city} + '(' + ${airport.code} + ')'"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label" for="departure">Departing</label>
                                    <input class="form-control" name="departure" id="departure" type="date" required
                                           th:attr="min=${now}"
                                           th:field="*{departureDate}">
                                </div>
                            </div>
                            <div class="col-md-4" id="returning" style="display: block">
                                <div class="form-group">
                                    <label class="form-label" for="return">Returning</label>
                                    <input class="form-control" name="return" id="return" type="date" required
                                           th:attr="min=${now}"
                                    >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label" for="travel">Travel Class</label>
                                    <select required name='to' id="travel" class="form-control" th:field="*{seatClass}">
                                        <!--                                        <option value="">Select a location...</option>-->
                                        <option th:each="index,seat : ${seats}" th:value="${seat.current}"
                                                th:text="${seat.current}"></option>
                                    </select>
                                </div>
                            </div>

                        </div>


                        <button id="btnAdd" class="btn btn-success " style="display:none">Add another flight</button>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-btn">
                                    <button type="submit" class="submit-btn">Show flights</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector('#answerInput').addEventListener('input', function(e) {
        var input = e.target,
            list = input.getAttribute('list'),
            options = document.querySelectorAll('#' + list + ' option[value="'+input.value+'"]'),
            hiddenInput = document.getElementById(input.getAttribute('id') + '-hidden');

        if (options.length > 0) {
            hiddenInput.value = input.value;
            input.value = options[0].innerText;
        }

    });
    function text(x) {
        if (x == 0) {
            document.getElementById("btnAdd").style.display = "none";
            document.getElementById("returning").style.display = "block";
            document.getElementById("returning").setAttribute('required', '');

        }
        if (x == 1) {
            document.getElementById("btnAdd").style.display = "none";
            document.getElementById("returning").style.display = "none";
            document.getElementById("return").removeAttribute('required');
        }
        if (x == 2) {
            document.getElementById("btnAdd").style.display = "block";
            document.getElementById("returning").style.display = "none";
        }
    }

    let count = 1;
    let btn = document.querySelector('#btnAdd');
    btn.onclick = function () {
        count += 1;
        let div = document.createElement("div")
        div.classList.add("row")
        div.innerHTML = generate(count);
    }

    function generate(count) {
        return " <div class=\"col-md-3\">\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <label class=\"form-label\" for=\"from'+count+'\">Flying from</label>\n" +
            "                                    <select required name='from" + count + "' id=\"from'+count+'\" class=\"form-control\">\n" +
            "                                        <option value=\"\">Select a location...</option>\n" +
            "                                        <option th:each=\"airport : ${airports}\" th:value=\"${airport.id}\"\n" +
            "                                                th:text=\"${airport.city}\"></option>\n" +
            "                                    </select>\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-md-3\">\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <label class=\"form-label\" for=\"to'+count+'\">Flying from</label>\n" +
            "                                    <select required name='to" + count + "' id=\"to'+count+'\" class=\"form-control\">\n" +
            "                                        <option value=\"\">Select a location...</option>\n" +
            "                                        <option th:each=\"airport : ${airports}\" th:value=\"${airport.id}\"\n" +
            "                                                th:text=\"${airport.city}\"></option>\n" +
            "                                    </select>\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-md-3\">\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <label class=\"form-label\" for=\"departure'+count+'\">Departing</label>\n" +
            "                                    <input class=\"form-control\" name=\"departure'+count+'\" id=\"departure'+count+'\" type=\"date\" required>\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                           <div class=\"col-md-3\">\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <button class=\"btn btn-danger\" onclick='removeit(this)'>Delete</button> \n" +
            "                                </div>\n" +
            "                            </div>";
    }

    function removeit(btn) {
        document.getElementById('box').removeChild(btn.parentNode);
    }


    // function add_another_flight(){
    //     count +=1;
    //     html= '<div class="row" id="row"+count+">\n' +
    //         '                                <div class="col-md-4">\n' +
    //         '                                    <div class="form-group">\n' +
    //         '                                        <label class="form-label" for="from">Flying from</label>\n' +
    //         '                                        <select required name=\'from"+count+"\' id="from" class="form-control">\n' +
    //         '                                            <option value="">Select a location...</option>\n' +
    //         '                                            <option th:each="airport : ${airports}" th:value="${airport.id}"\n' +
    //         '                                                    th:text="${airport.city}"></option>\n' +
    //         '                                        </select>\n' +
    //         '                                    </div>\n' +
    //         '                                </div>\n' +
    //         '                                <div class="col-md-4">\n' +
    //         '                                    <div class="form-group">\n' +
    //         '                                        <label class="form-label" for="to">Flying from</label>\n' +
    //         '                                        <select required name=\'to\' id="to" class="form-control">\n' +
    //         '                                            <option value="">Select a location...</option>\n' +
    //         '                                            <option th:each="airport : ${airports}" th:value="${airport.id}"\n' +
    //         '                                                    th:text="${airport.city}"></option>\n' +
    //         '                                        </select>\n' +
    //         '                                    </div>\n' +
    //         '                                </div>\n' +
    //         '                                <div class="col-md-2">\n' +
    //         '                                    <div class="form-group">\n' +
    //         '                                        <label class="form-label" for="departure">Departing</label>\n' +
    //         '                                        <input class="form-control" name="departure" id="departure" type="date" required>\n' +
    //         '                                    </div>\n' +
    //         '                                </div>\n' +
    //         '                                <div class="col-md-2" id="returning" style="display: block">\n' +
    //         '                                    <div class="form-group">\n' +
    //         '                                        <label class="form-label" for="return">Returning</label>\n' +
    //         '                                        <input class="form-control" name="return" id="return" type="date"  required>\n' +
    //         '                                    </div>\n' +
    //         '                                </div>\n' +
    //         '                            </div>'
    //     let form =  document.getElementById("search-flight");
    //     form.innerHTML += html;
    // }

</script>
</body>

</html>