<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" th:href="@{user/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<div class="wrapper">
  <header>Login</header>
  <div th:if="${param.error}">
    <div class="alert alert-danger error-alert">Invalid username or password.</div>
  </div>

  <!-- logout message -->
  <div th:if="${param.logout}">
    <div class="alert alert-success logout-alert">You have been logged out.</div>
  </div>
  <form th:action="@{/login}" method="post" >
    <div class="field email">
      <div class="input-area">
        <input type="email" placeholder="Email Address" name="email" autofocus="autofocus"/>
        <i class="icon fas fa-envelope"></i>
        <i class="error error-icon fas fa-exclamation-circle"></i>
      </div>
      <div class="error error-txt">Email can't be blank</div>
    </div>
    <div class="field password">
      <div class="input-area">
        <input type="password" placeholder="Password" name="password" autofocus="autofocus"/>
        <i class="icon fas fa-lock"></i>
        <i class="error error-icon fas fa-exclamation-circle"></i>
      </div>
      <div class="error error-txt">Password can't be blank</div>
    </div>
<!--    <input type="submit" value="Login" name="login-submit" id="login-submit"/>-->
    <input type="submit" value="Login" />
  </form>
  <div class="sign-txt">Don't have account? <a th:href="@{/signup}">Sign Up</a></div>
</div>

<!--<script th:src="@{user/js/login.js}"></script>-->

</body>
</html>
