<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/user/css/navbar.css}"/>
    <style>
        .content {
            margin-top: 60px !important;
        }
    </style>
</head>
<body>
<div>
    <header>
        <div class="nav-bar">
            <a th:href="@{/home}" class="logo">
                <img class="airline" th:src="@{/user/img/airline.png}" alt=""/>
                TRAVEL</a>
            <div class="navigation">
                <div class="nav-items">
                    <i class="uil uil-times nav-close-btn"></i>
                    <a th:href="@{/home}"><i class="uil uil-home"></i> Home</a>
                    <a th:href="@{/flights}"><i class="uil uil-compass"></i> Flights</a>
                    <a th:href="@{/about}"><i class="uil uil-info-circle"></i> About</a>
                    <a th:href="@{/contact}"><i class="uil uil-document-layout-left"></i> Contact</a>
                    <a th:href="@{/view}">
                        <img class="logout" th:src="@{../user/img/cart.png}" alt="cart"/>
                    </a>
                    <span class="authen" sec:authentication="principal.username"></span>
                    <a th:href="@{/logout}">
                        <img class="logout" th:src="@{../user/img/out.png}" alt=""/>
                    </a>
                </div>
            </div>
            <!--                <i class="uil uil-apps nav-menu-btn"></i>-->
        </div>
    </header>
</div>

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>List Flights</h3>
        </div>
        <div class="box box-primary">
            <div class="box-body">
                <table width="100%" class="table table-hover" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>Brand</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Departure Time</th>
                        <th>Arrival Time</th>
                        <th>Price</th>
                        <th>Available</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="index,flight : ${flights}">
                        <td th:text="${flight.current.airline.getFullName()}"></td>
                        <td th:text="${flight.current.fromAirport.city} + '(' + ${flight.current.fromAirport.code} + ')'"></td>
                        <td th:text="${flight.current.toAirport.city} + '(' + ${flight.current.toAirport.code} + ')'"></td>
                        <td th:text="${flight.current.departureDate}+' '+${flight.current.departureTime}"></td>
                        <td th:text="${flight.current.arrivalDate}+' '+${flight.current.arrivalTime}"></td>
                        <td th:text="${flight.current.getClassPrice('Business class')} + '$'" > </td>
                        <td th:text="${flight.current.getAvailableSeat('Business class')}"> </td>
                        <td>
                            <a th:href="@{/view/detail}" class="btn btn-outline-info btn-rounded">Flight Details</a>
                            <a th:href="@{/view/detail/fare}" class="btn btn-outline-info btn-rounded">Fare Info</a>
                            <a th:href="'/view/choose?id=' + ${flight.current.getId() + '&type=business class'}"  class="btn btn-outline-danger btn-rounded">Choose</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a class="btn btn-outline-success" th:href="@{/home}">Back to list</a>
    </div>
</div>


</body>
</html>

